<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog <%=currBlog%></title>
</head>
<body>
    <h1><%= currBlog.title %></h1>
    <p><%= currBlog.content %></p><br><br><br><hr>
    <form action="/blogs/<%=id%>/delete" method="post">
        <button type="submit">Delete</button>
    </form>
    <form action="/blogs/<%=id%>/edit" method="get">
        <button type="submit">Edit</button>
    </form>
</body>
</html>